<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>org.clientappwebtomcat.back.controller.ClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>

</web-app>